html{scroll-behavior: smooth;}
:root{
  --white-light: rgba( 255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}

/* header section */
header{width: 100%;background-color: var(--carribean-green);position: fixed;z-index: 999;}
nav{width: 90%;height: 80px;margin: 0 5%;}
label.logo img{width: 200px;cursor: pointer;padding: 15px;}
nav ul{float: right;margin: 0;padding: 0;}
nav ul li{display: inline-block;line-height: 80px; margin: 0 5px;}
nav ul li a{color: #fff;text-transform: uppercase;text-decoration: none;font-weight: bold;padding: 0 15px;}
.checkbtn{font-size: 30px;color: #fff;float: right;line-height: 80px;margin-right: 40px;display: none;}
#check{display: none;}


body{font-family: 'Quickksand', sans-serif;margin: 0;}
.productdeatail{width:100%;height: 100vh;}
.left{width: 50%;float: left;}
.left .preview{width:100%;}
.left .preview img{width:70%;margin: 50px 15% 0 15%;height: 500px;}
.right{width: 50%;float: right;} 
.right .containt{width: 100%;margin: 25% 0 0}
.sliderproduct{width: 90%;margin: 0 5%;}
.sliderproduct img{height: 100px;margin-bottom: 9px;cursor: pointer;width: 23%;opacity: 0.6;margin: 0;border: 1px solid #000;}
.sliderproduct img:hover{opacity: 1;}
.right .containt img{height: 19vh;margin-bottom: 9px;cursor: pointer;width: 130px;opacity: 0.6;}
.right .containt img:hover{opacity: 1;}
.preview img{height: 100%;padding: 20px;}
.right .containt p{margin-bottom: 20px;}
.right .containt p del{font-size: 1.3rem;color: #555;}
.right .containt .brand{background: #008000;width: fit-content;color: #ffffff;font-size: 12px;padding: 2px 5px;}
.right .containt h2{font-size: 42px;color: #555;margin-bottom: 20px;}
.right .containt .rating{color: var(--carribean-green);}
.right .containt h3{font-size: 18px;font-weight: bold;color: var(--carribean-green);padding-bottom: 10px;}
.right .containt select{border-color: #ccc;cursor: pointer;border-radius: 3px;}
.price{font-size: 15px;font-weight: bold;padding-top: 10px;}
.right .containt input{width:33px;border: 1px solid #ccc;font-weight: bold;text-align: center;cursor: pointer;}
.right .containt .cart{color: #ffffff;font-size: 15px;outline: none;border: 0;border-radius: 5px;background: black;padding: 10px 15px;box-sizing: border-box;cursor: pointer;}
.right .containt .cart:hover{color: #ffffff;background: var(--carribean-green);transition: 0.6s ease;}
.right .containt .buy{color: black;font-size: 15px;outline: none;border: 0;border-radius: 5px;background: #ffffff;padding: 10px 15px;box-sizing: border-box;cursor: pointer;}
.right .containt .buy:hover{color: #ffffff;background: var(--carribean-green);transition: 0.6s ease;}
.right .containt button .fa{margin-right: 10px;}
.related-items{width: 90%;margin: 0 auto 40px;}
.related-items h2{font-size: 42px;color: #555;margin-bottom: 20px;text-transform: uppercase;text-align: center}

.product img{width: 100%;display: block;}
.container{width:88vm;margin: 0 auto;}
.lg-title,.md-title,.sm-title{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;text-transform: capitalize;}
.lg-title{font-size: 2.5rem;font-weight: 500;text-align: center;padding: 1.3rem 0;opacity: 0.9;}
.md-title{font-size: 2rem;}
.sm-title{font-size: 1rem; font-weight: 300;text-transform: uppercase;}
.text-light{font-size: 1rem;font-weight: 600;line-height: 1.5;opacity: 0.5;margin: 0..4rem 0;}
/* product section */
.products{background: var(--alice-blue);padding: 3.2rem 0;}
.products .text-light{text-align: center;width: 70%;margin: 0.9rem auto;}
.product{margin: 2rem;position: relative;}
.product-content{background: var(--gray);padding: 2rem 0.5rem 2rem 0.5rem;cursor: pointer;border-radius: 7px;}
.product-img{background:var(--white-light);box-shadow: 0 0 20px 10px var(--white-light);width: 200px;height: 200px;margin: 0 auto;transition: backgrouund 0.5s ease;}
.product-btns{display: flex;justify-content: center;margin-top: 4rem;opacity: 1;transition: opacity 0.6s ease;}
.btn-cart, .btn-buy{background: transparent;padding: 0.6rem 0;width: 125px;font-family: inherit;text-transform: uppercase;cursor: pointer;border: none;transition: all 0.6s ease;border-radius: 3px;margin: 25px 5px 0 5px;}
.btn-cart{background: black;color: wheat;}
.btn-cart:hover{background: var(--carribean-green);}
.btn-buy{background: white;}
.btn-buy:hover{background: var(--carribean-green);color: #ffffff;}
.product-info{background: #ffffff;padding: 2rem;}
.product-info-top{display: flex; justify-content: space-between; align-items: center;}
.rating span{color: var(--carribean-green);}
.product-name{color:black;display: block;text-decoration: none;font-size: 1rem;text-transform: uppercase;font-weight: bold;}
.product-price{padding-right: 0.6rem;display: inline-block;}
.product-price:first-of-type{text-decoration: line-through;color: var(--carribean-green);}
.product-img img{transition: tranform 0.6s ease;}
.product:hover .product-img img{transform: scale(1.1);}
.off-info .sm-title{background: var(--carribean-green);color: #ffffff;display: inline-block;padding: 0.5rem;position: absolute;top: 0;left: 0;writing-mode: vertical-lr;transform: rotate(180deg);z-index: 1;letter-spacing: 3px;cursor: pointer;border-top-right-radius: 7px;;border-top-left-radius: 7px} 


/* Media Queries */
@media screen and (min-width: 992px){
  .product-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px){
  .product-items{
      grid-template-columns: repeat(3, 1fr);
  }
  .product{
      margin-right: 1rem;
      margin-left: 1rem;
  }
  .product .text-light{width: 50%;}
}

@media screen and (min-width: 1336px){
  .product-items{
      grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .flex{ 
      height: 60vh;
  }
  .product-col-left{
      height: 121.5vh;
  }
}

/* footer  */

.footer{width: 100%;background: black;color: #8a8a8a;font-size: 14px;padding: 60px 0 20px;}
.footer-container{max-width: 1300px;margin: auto;padding-left: 25px;padding-right: 25px;}
.footerrow{display: flex;align-items: center;flex-wrap: wrap;justify-content: center;}
.footer p{color: #8a8a8a;}
.footer h3{color: #fff;margin-bottom: 20px;}
.footer-col-1, .footer-col-2, .footer-col-3{min-width: 250px;margin-bottom: 20px;}
.footer-col-1{flex-basis: 25%;text-align: center;}
.footer-col-2{flex: 1;text-align: center;}
.footer-col-2 img{width: 180px;margin-bottom: 20px;cursor: pointer;}
.footer-col-2 p{font-size: .7rem;padding: 0 10px;}
.footer-col-3{flex-basis: 12%;text-align: center;}
.footer ul{list-style-type: none;}
.app-logo{margin-top: 20px;cursor: pointer;}
.app-logo img{width: 140px;}
.footer hr{border: none;background: #b5b5b5;height: 1px;margin: 20px 0;}
.footer ul a{text-decoration: none;color: #fff;transition: .3s ease;}
.footer ul a:hover{color: #8a8a8a;}
.footer ul i{display: block;width: 10%;padding: 5px 40px ;cursor: pointer;align-items: center;font-size: 13px;font-weight: bold;font-size: .9rem;}
.footer ul i span{padding-left: 35px;}
.copyright{text-align: center;}

/* backto top*/
.gotop{position:fixed;width:50px;height: 50px;background: #40c9a2;bottom: 30px;right:40px;text-decoration: none;text-align: center;line-height: 50px;color: white;font-size: 22px;border-radius: 10px;transition: .9s ease;}
.gotop:hover{background-color: white;color: #40c9a2;box-shadow:10px 20px 20px rgba(0, 0, 0, 0.205);border: 1px solid #0b2e4e;}

/* Media Queries */
@media screen and (max-width: 1200px){
  .productdeatail{width:100%;}
  .left{width:50%}
  .left .preview img{width: 96%;margin: 70px 0 0 ;}
  .right{width: 50%;} 
  .right .containt{width: 80%;margin: 25% 10%}
  .sliderproduct{width: 100%;}
  .sliderproduct img{height: 60px;margin-bottom: 9px;cursor: pointer;width: 23;opacity: 0.6;}
  .right .containt h2{font-size: 42px;color: #555;margin-bottom: 20px;}
}

@media screen and (max-width: 992px){
  label.logo img{width: 200px;cursor: pointer;}
  .checkbtn{display: block;}
  nav ul{position: fixed;width: 100%;height: 100vh;background: #115a45;top: 80px;left: -110%;text-align: center;transition: all.5s;}
  nav ul li{display: block;margin: 50px 0;line-height: 30px;}
  nav ul li a{font-size: 20px;}
  a:hover{background: none;color: #40c9a2;}
  #check:checked ~ ul{left: 0;}
}

@media screen and (max-width: 720px){
  .productdeatail{width:100%;}
  .left{width:100%}
  .preview{width: 100%;height: 600px;}
  .left .preview img{width: 100%;height: 500px;margin: 70px 0 0 ;padding: 0;}
  .right{width: 100%;} 
  .right .containt{width: 80%;margin: 0 10% 50px}
  .sliderproduct{width: 96%;margin: 0;padding: 0 1%}
  .sliderproduct img{height: 60px;margin-bottom: 9px;cursor: pointer;width: 23%;opacity: 0.6;border: 1px solid #000;}
  .right .containt h2{font-size: 20px;color: #555;margin-bottom: 20px;}
  .related-items h2{font-size: 29px;color: #555;margin-bottom: 20px;text-transform: uppercase;text-align: center}
}

@media screen and (max-width: 600px){
  nav{width: 100%;height: 70px;}
  label.logo img{width: 150px;cursor: pointer;padding: 20px 0 0;}
  nav ul{position: fixed;width: 100%;height: 100vh;background: #115a45;top: 80px;left: -115%;text-align: center;transition: all.5s;}
  .preview{width: 100%;height: 500px;}
  .left .preview img{width: 100%;height: 400px;margin: 70px 0 0 ;padding: 0;}
}
